security:
  password_hashers:
    Symfony\Component\Security\Core\User\PasswordAuthenticatedUserInterface: 'auto'

  providers:
    app_user_provider:
      entity:
        class: App\Entity\User
        property: email

  role_hierarchy:
    ROLE_ADMIN: [ROLE_USER]

  firewalls:
    dev:
      pattern: ^/(_profiler|_wdt|assets|build)/
      security: false

    main:
      lazy: true
      provider: app_user_provider
      custom_authenticator: App\Security\AppAuthenticator

      logout:
        path: app_logout

      remember_me:
        secret: '%kernel.secret%'
        lifetime: 604800
        path: /

  access_control:
    - { path: ^/login$, roles: PUBLIC_ACCESS }
    - { path: ^/register$, roles: PUBLIC_ACCESS }

    # ADMIN ONLY
    - { path: ^/Dashboard, roles: ROLE_ADMIN }
    - { path: ^/product, roles: ROLE_ADMIN }
    - { path: ^/category, roles: ROLE_ADMIN }

    # CASHIER (ROLE_USER)
    - { path: ^/caisse, roles: ROLE_USER }

    # everything else => admin only
