parameters:
  hf_token: '%env(HF_TOKEN)%'
  hf_model: '%env(HF_MODEL)%'

services:
  _defaults:
    autowire: true
    autoconfigure: true

  App\:
    resource: '../src/'
    exclude:
      - '../src/Entity/'
      - '../src/Kernel.php'

  App\Service\HuggingFaceClient:
    arguments:
      $hfToken: '%hf_token%'
      $hfModel: '%hf_model%'
