<p class="text-muted text-center">Cliquez sur un produit pour l’ajouter au ticket</p>

<div class="row">
  {% for product in products %}
    <div class="col-4 mb-2">
      <button class="btn btn-outline-secondary m-2"
              onclick='addToTicket({{ product.productName|json_encode|raw }}, {{ product.productUnitPrice }})'>
        {{ product.productName }}
      </button>
    </div>
  {% endfor %}
</div>
